<h1>Editing fleet</h1>

<% form_for(@fleet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fleet %> |
<%= link_to 'Back', fleets_path %>