<p>
  <b>Fleet:</b>
  <%=h @tire.fleet_id %>
</p>

<p>
  <b>Assay:</b>
  <%=h @tire.assay_id %>
</p>

<p>
  <b>Kind:</b>
  <%=h @tire.kind %>
</p>

<p>
  <b>Tag:</b>
  <%=h @tire.tag %>
</p>

<p>
  <b>Brand:</b>
  <%=h @tire.brand %>
</p>

<p>
  <b>Model:</b>
  <%=h @tire.model %>
</p>

<p>
  <b>Size:</b>
  <%=h @tire.size %>
</p>

<p>
  <b>Times:</b>
  <%=h @tire.times %>
</p>

<p>
  <b>Furrow:</b>
  <%=h @tire.furrow %>
</p>

<p>
  <b>Dot:</b>
  <%=h @tire.dot %>
</p>

<p>
  <b>Fault:</b>
  <%=h @tire.fault_id %>
</p>

<p>
  <b>Cause:</b>
  <%=h @tire.cause_id %>
</p>

<p>
  <b>Comment:</b>
  <%=h @tire.comment %>
</p>

<p>
  <b>Plate:</b>
  <%=h @tire.plate %>
</p>

<p>
  <b>Pression:</b>
  <%=h @tire.pression %>
</p>

<p>
  <b>Position:</b>
  <%=h @tire.position %>
</p>

<p>
  <b>Odometer:</b>
  <%=h @tire.odometer %>
</p>

<p>
  <b>Reformer:</b>
  <%=h @tire.reformer %>
</p>

<p>
  <b>Created at:</b>
  <%=h @tire.created_at %>
</p>


<%= link_to 'Edit', edit_tire_path(@tire) %> |
<%= link_to 'Back', tires_path %>