<h1>Editing fault</h1>

<% form_for(@fault) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fault %> |
<%= link_to 'Back', faults_path %>